@model OnlineCleaningShop.Models.Product
<partial name="_Notifications" />


<h2 class="text-center mt-5">Adăugare produs</h2>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" enctype="multipart/form-data" asp-controller="Products" asp-action="New">

                <!-- Nume produs -->
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Nume produs</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                </div>

                <!-- Descriere produs -->
                <div class="form-group">
                    <label asp-for="Description" class="form-label">Descriere produs</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br />
                </div>

                <!-- Preț produs -->
                <div class="form-group">
                    <label asp-for="Price" class="form-label">Preț</label>
                    <input asp-for="Price" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <br />
                </div>

                <!-- Stoc produs -->
                <div class="form-group">
                    <label asp-for="Stock" class="form-label">Stoc disponibil</label>
                    <input asp-for="Stock" class="form-control" type="number" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                    <br />
                </div>

                <!-- Rating produs -->
                

                <!-- Selectare categorie -->
                <div class="form-group">
                    <label for="CategoryId">Selectați categoria</label>
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">-- Selectați o categorie --</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    <br />
                </div>

                <!-- Încărcare imagine -->
                <div class="form-group">
                    <label asp-for="Image" class="form-label">Încarcă imaginea produsului</label>
                    <input type="file" name="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <br />
                </div>

                <button class="btn btn-success" type="submit">Adaugă produs</button>
            </form>
        </div>
    </div>
</div>
